doctype html
html
  head
    title= "Infuse - Tech Interview"
    link(rel="shortcut icon" href="images/favicon.png")
    link(rel='stylesheet', href='styles/styles.css')
  body
    include header
    block content
      main
        p(class="common-title")= "Sorry, page not found"
    include footer